/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT_L   0
#define SYMBOLS_L   1
#define NAVI_L      2
#define NUMBERS_L   3

/ {
    combos {
    };

    macros {
        instance: instance {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp I &kp N &kp S &kp T &kp A &kp N &kp C &kp E &kp EQUAL>;
            label = "INSTANCE";
        };

        pattern: pattern {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp P &kp A &kp T &kp T &kp E &kp R &kp N &kp EQUAL>;
            label = "PATTERN";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
&kp Q             &kp W  &kp E  &kp R  &kp T                   &kp Y                    &kp U  &kp I      &kp O    &kp P
&kp A             &kp S  &kp D  &kp F  &kp G                   &kp H                    &kp J  &kp K      &kp L    &kp SEMI
&mt LEFT_SHIFT Z  &kp X  &kp C  &kp V  &kp B                   &kp N                    &kp M  &kp COMMA  &kp DOT  &kp FSLH
                                &mo 1  &mt LEFT_SHIFT SPACE    &mt LEFT_COMMAND RETURN  &mo 2
            >;
        };

        layer_2 {
            bindings = <
&kp N1     &kp N2    &kp N3     &kp N4        &kp N5       &kp N6           &kp N7            &kp N8           &kp N9             &kp N0
&kp TAB    &trans    &kp TILDE  &kp PLUS      &kp MINUS    &kp DELETE       &kp LESS_THAN     &kp LEFT_BRACE   &kp LEFT_BRACKET   &kp BACKSLASH
&instance  &pattern  &kp GRAVE  &kp KP_EQUAL  &kp UNDER    &trans           &kp GREATER_THAN  &kp RIGHT_BRACE  &kp RIGHT_BRACKET  &kp PIPE
                                &trans        &trans       &kp RIGHT_SHIFT  &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans    &kp UP_ARROW  &trans     &trans
&trans  &trans  &trans  &trans  &trans    &trans  &kp LEFT  &kp DOWN      &kp RIGHT  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans    &trans        &trans     &trans
                        &trans  &trans    &trans  &trans
            >;
        };
    };
};
