/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT_L   0
#define SYMBOLS_L   1
#define NAVI_L      2
#define NUMBERS_L   3

/ {
    combos {
    };

    macros {
        instance: instance {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp I &kp N &kp S &kp T &kp A &kp N &kp C &kp E &kp EQUAL>;
            label = "INSTANCE";
        };

        pattern: pattern {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp P &kp A &kp T &kp T &kp E &kp R &kp N &kp EQUAL>;
            label = "PATTERN";
        };

        code_block: code_block {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LEFT_BRACE &kp C &kp O &kp D &kp E &kp RBRC &kp RET &kp RET &kp LEFT_BRACE &kp C &kp O &kp D &kp E &kp RBRC &kp UP_ARROW>;
            label = "CODE_BLOCK";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
&mt LEFT_COMMAND Q  &kp W  &kp E  &kp R  &kp T                 &kp Y      &kp U  &kp I      &kp O    &kp P
&kp A               &kp S  &kp D  &kp F  &kp G                 &kp H      &kp J  &kp K      &kp L    &kp SEMI
&mt LEFT_SHIFT Z    &kp X  &kp C  &kp V  &kp B                 &kp N      &kp M  &kp COMMA  &kp DOT  &kp FSLH
                                  &mo 1  &mt LEFT_SHIFT RET    &kp SPACE  &mo 2
            >;
        };

        layer_2 {
            bindings = <
&kp N1     &kp N2       &kp N3     &kp N4     &kp N5       &kp N6           &kp N7            &kp N8           &kp N9             &kp N0
&kp TAB    &code_block  &kp TILDE  &kp PLUS   &kp MINUS    &kp BACKSPACE    &kp LESS_THAN     &kp LEFT_BRACE   &kp LEFT_BRACKET   &kp BACKSLASH
&instance  &pattern     &kp GRAVE  &kp EQUAL  &kp UNDER    &trans           &kp GREATER_THAN  &kp RIGHT_BRACE  &kp RIGHT_BRACKET  &kp PIPE
                                   &trans     &trans       &kp RIGHT_SHIFT  &kp APOS
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans    &kp UP_ARROW  &trans     &kp C_VOL_UP         &kp PAGE_UP    &kp HOME  &none        &trans  &trans
&trans  &kp LEFT  &kp DOWN      &kp RIGHT  &kp C_VOLUME_DOWN    &kp PAGE_DOWN  &kp END   &none        &none   &trans
&trans  &trans    &trans        &none      &none                &instance      &pattern  &code_block  &trans  &trans
                                &trans     &trans               &trans         &trans
            >;
        };
    };
};
